.App {
  text-align: center;
}

.button {
  padding: 8px 30px;
  border: 1px solid rgb(162, 0, 255);
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  transition: .1s linear all;
}

.button:hover {
  color: white;
  background-color: rgb(162, 0, 255);
}

.button:not(:last-child) {
  margin-right: 15px;
}